<!-- The Modal -->
<div id="myModal" class="modal-image">
    <!-- The Close Button -->
    <span class="close-modal">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
</div>