<% if(errors) { %>
	<% errors.forEach(error => { %>
		<script>openLoginModal()</script>
		<div class="alert alert-danger"><%- error %></div>
	<% }) %>
<% } %>

<% if(success) { %>
	<% success.forEach(mgs => { %>
		<script>openLoginModal()</script>
		<div class="alert alert-success"><%- mgs %></div>
	<% }) %>
<% } %>
