<!DOCTYPE html>
<html lang="en">
<head>
    <title>Awesome Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/logo_favicon/favicon-trungquandev.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css">
    <link rel="stylesheet" href="bower_components/emojionearea/dist/emojionearea.min.css">
    <link rel="stylesheet" href="bower_components/photoset-grid/css/colorbox.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body onload="spinLoaded()">
    <!--Icon loader-->
    <div id="loader"></div>
    
    <div class="master-success-message alert alert-success">Success example</div>

    <!-- include('navbar'); -->
    <nav class="navbar navbar-inverse no-margin-bottom">
        <div class="container-fluid">
            <div class="navbar-header col-sm-3 navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="https://trungquandev.com/" target="__blank">
                    <img src="images/logo_favicon/logo-trungquandev.png" alt="logo-trungquandev">
                </a>
            </div>
            <div class="col-sm-3 no-padding">
                <ul class="nav navbar-nav navbar-left no-padding-start">
                    <li>
                        <input type="text" name="search" class="searchBox" placeholder="Tìm kiếm tên cuộc trò chuyện">
                        <div id="search-results">
                            <h3>Kết quả</h3>
                            <div class="search_content">
                                <ul></ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse col-sm-6 navbar-right" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/" title="Trang chủ">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#contactsModal" data-toggle="modal" title="Quản lý liên lạc" id="show-modal-contacts">
                            <i class="fa fa-user-plus"></i>
                            <div class="noti_contact_counter">100</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="noti_Button" data-toggle="modal" title="Thông báo">
                            <i class="fa fa-globe"></i>
                            <div class="noti_counter" style="display: block;">30</div>
                            <div id="noti_Container">
                                <div id="notifications">
                                    <h3>Thông báo</h3>
                                    <div class="noti_content">
                                        <span data-uid="${ user.id }">
                                            <img class="avatar-small" src="images/users/default-avatar-trungquandev-01.jpg" alt=""> 
                                            <strong>Trung Quân</strong> đã chấp nhận lời mời kết bạn của bạn!
                                        </span><br><br><br>

                                        <span data-uid="${ user.id }">
                                            <img class="avatar-small" src="images/users/default-avatar-trungquandev-02.jpg" alt=""> 
                                            <strong>Trung Quân</strong> đã gửi cho bạn một lời mời kết bạn!
                                        </span><br><br><br>
                                    </div>
                                    <div class="seeAll"><a href="#">Xem tất cả</a></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown" id="dropdown-navbar-user" data-uid="user._id">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="avatar-small" src="images/users//default-avatar-trungquandev-02.jpg" alt="">
                            Trung Quân
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#user-profile-modal" data-toggle="modal">
                                    <i class="fa fa-cog"></i>
                                    &nbsp;Cài đặt tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i>
                                    &nbsp;Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- content -->
    <div class="container-fluid">
        <div class="row content">
            <!-- include('sections/leftSidenav'); -->
            <div class="col-sm-3 sidenav no-padding">
                <div class="left">
                    <div class="top form-group">
                        <select class="form-control" id="select-type-chat">
                            <option value="all-chat">Toàn bộ trò chuyện</option>
                            <option value="personal-chat">Trò chuyện cá nhân</option>
                            <option value="group-chat">Trò chuyện nhóm</option>
                        </select>
                        <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                            title="Tạo một nhóm trò chuyện mới"></a>
                    </div>
                    <ul class="people no-padding-start">
                        <a href="#uidcontact._id" class="room-chat">
                            <li class="person" data-chat="contact._id">
                                <div class="left-avatar">
                                    <div class="dot"></div>
                                    <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                                </div>
                                <span class="name">
                                    Trung Quân
                                </span>
                                <span class="time">Một phút trước</span>
                                <span class="preview">Xin chào</span>
                            </li>
                        </a>
                        <a href="#uidgroupChatItem._id" class="room-chat">
                            <li class="person group-chat" data-chat="groupChatItem._id">
                                <div class="left-avatar">
                                    <!-- <div class="dot"></div> -->
                                    <img src="images/users/group-avatar-trungquandev.png" alt="">
                                </div>
                                <span class="name">
                                    <span class="group-chat-name">Group:</span> Group Chat
                                </span>
                                <span class="time">Hai giờ trước</span>
                                <span class="preview">Chào cả nhóm</span>
                            </li>
                        </a>
                        <a href="#" class="room-chat" id="null-contact">
                            <li class="person active" data-chat="person-default">
                                <div class="left-avatar">
                                    <div class="dot online"></div>
                                    <img class="avatar-online" src="images/users/default-avatar-trungquandev-02.jpg" alt="">
                                </div>
                                <span class="name">Trung Quân (admin)</span>
                                <span class="time">Bây giờ</span>
                                <span class="preview">Xin chào <strong>Trung Quân</strong>...</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <!-- include('sections/rightSidenav'); -->
            <div class="col-sm-9 sidenav no-padding">
                <div class="right" data-chat="">
                    <div class="top">
                        <span>To: <span class="name">Trung Quân (admin)</span></span>
                        <span class="chat-menu-right">
                            <a href="#attachsModal" id="show-attachs" data-toggle="modal">
                                Tệp đính kèm
                                <i class="fa fa-paperclip"></i>
                            </a>
                        </span>
                        <span class="chat-menu-right">
                            <a href="javascript:void(0)">&nbsp;</a>
                        </span>
                        <span class="chat-menu-right">
                            <a href="#imagesModal" id="show-images" data-toggle="modal">
                                Hình ảnh
                                <i class="fa fa-photo"></i>
                            </a>
                        </span>
                    </div>
                    <div class="content-chat">
                        <div class="chat" data-chat="">
                            <div class="bubble me" data-mess-id="${item._id}">Hello, I'm Trung Quan, author of https://trungquandev.com</div>
                            <div class="bubble you" data-mess-id="${item._id}">Really? I'm Trung Quan too, author of https://trungquandev.com, are you fake?</div>
                            <div class="bubble me" data-mess-id="${item._id}">This is me !!!</div>
                            <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
                                <img src="images/users/default-avatar-trungquandev-01.jpg" class="show-image-chat">
                            </div>
                            <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
                                    <a href="fileExample/Tệp văn bản - trungquandev.pdf" 
                                    download="${ item.file.fileName }">
                                        Tệp văn bản - trungquandev.pdf
                                    </a>
                                </div>
                            <div class="bubble you" data-mess-id="${item._id}">And this is me @@ !!!</div>
                            <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
                                <img src="images/users/default-avatar-trungquandev-02.jpg" class="show-image-chat">
                            </div>
                            <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
                                <a href="fileExample/Tệp văn bản - trungquandev.docx" 
                                download="${ item.file.fileName }">
                                    Tệp văn bản - trungquandev.docx
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="write" data-chat="">
                        <input type="text" class="write-chat" data-chat="17071995">
                        <div class="icons">
                            <a href="#" class="icon-chat" data-chat=""><i class="fa fa-smile-o"></i></a>
                            <label for="image-chat">
                                <input type="file" id="image-chat" name="my-image-chat" class="image-chat" data-chat="">
                                <i class="fa fa-photo"></i>
                            </label>
                            <label for="attach-chat">
                                <input type="file" id="attach-chat" name="my-attach-chat" class="attach-chat" data-chat="">
                                <i class="fa fa-paperclip"></i>
                            </label>
                            <a href="#streamModal" id="video-chat" class="video-chat" data-chat="" data-toggle="modal">
                                <i class="fa fa-video-camera"></i>
                            </a>
                            <input type="hidden" id="peer-id" value="">
                        </div>
                    </div>
                </div>

                <!-- Trường hợp tài khoản chưa có bạn bè thì hiện màn hình dưới. -->
                <!-- <div class="right active-chat" data-chat="person-default">
                    <div class="top">
                        <span>To: <span class="name">Trung Quân (admin)</span></span>
                        <span class="chat-menu-right">
                            <a href="#">
                                Tệp đính kèm
                                <i class="fa fa-paperclip"></i>
                            </a>
                        </span>
                        <span class="chat-menu-right">
                            <a href="javascript:void(0)">&nbsp;</a>
                        </span>
                        <span class="chat-menu-right">
                            <a href="#">
                                Hình ảnh
                                <i class="fa fa-photo"></i>
                            </a>
                        </span>
                    </div>
                    <div class="content-chat">
                        <div class="chat active-chat" data-chat="person-default">
                            <div class="conversation-start">
                                <span>Một tháng trước</span>
                            </div>
                            <div class="bubble you">
                                Xin chào <strong>Trung Quân</strong>, tài khoản của bạn đã sẵn sàng.
                            </div>
                            <div class="bubble you">
                                Bây giờ, hãy tìm kiếm bạn bè để trò chuyện.
                            </div>
                            <div class="bubble you">
                                Lưu ý: Đây là tin nhắn tự động, vui lòng không trả lời lại. Cảm ơn <strong>Trung Quân</strong> !!!
                            </div>
                        </div>
                    </div>
        
                    <div class="write">
                        <input type="text" class="write-chat" data-chat="" value="Hiện tại không thể Chat - Hãy tìm bạn bè trước khi chat. Xin cảm ơn !!!">
                        <div class="icons">
                            <a href="#"><i class="fa fa-smile-o"></i></a>
                            <a href="#"><i class="fa fa-photo"></i></a>
                            <a href="#"><i class="fa fa-paperclip"></i></a>
                            <a href="#"><i class="fa fa-video-camera"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!--Libraries-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="bower_components/emojionearea/dist/emojionearea.min.js"></script>
    <script src="bower_components/peerjs/peer.min.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>

    <!-- My js-->
    <script src="js/mainConfig.js"></script>

    <!-- include('../contacts/contactsModal'); -->
    <div class="modal fade" id="contactsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Quản lý liên lạc</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#find-user">Tìm người dùng</a></li>
                        <li><a data-toggle="tab" id="link-contacts" href="#contacts">
                            Danh bạ <span class="show-number-contacts count-contacts">(100)</span>
                        </a></li>
                        <li><a data-toggle="tab" id="link-request-contact-sent" href="#request-contact-sent">
                            Đang chờ xác nhận <span class="show-number-contacts count-request-contact-sent">(100)</span>
                        </a></li>
                        <li><a data-toggle="tab" id="link-request-contact-received" href="#request-contact-received">
                            Yêu cầu kết bạn <span class="show-number-contacts count-request-contact-received">(100)</span>
                        </a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="find-user" class="tab-pane fade in active">
                            <div class="find-user-top">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control" placeholder="Nhập E-mail hoặc username..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="find-user-bottom">
                                <ul class="contactList">
                                    <li class="_contactList" data-uid="user._id">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam</span>
                                            </div>
                                            <div class="user-add-new-contact" data-uid="user._id">
                                                Thêm vào danh sách liên lạc
                                            </div>
                                            <div class="user-remove-request-contact action-danger" data-uid="user._id">
                                                Hủy yêu cầu
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="contacts" class="tab-pane fade">
                            <div class="find-user-bottom">
                                <ul class="contactList">
                                    <li class="_contactList" data-uid="user._id">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam.</span>
                                            </div>
                                            <div class="user-talk" data-uid="user._id">
                                                Trò chuyện
                                            </div>
                                            <div class="user-remove-contact action-danger" data-uid="user._id">
                                                Xóa liên hệ
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="request-contact-sent" class="tab-pane fade">
                            <div class="find-user-bottom">
                                <ul class="contactList">
                                    <li class="_contactList" data-uid="user._id">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam.</span>
                                            </div>
                                            <div class="user-remove-request-sent action-danger" data-uid="user._id">
                                                Hủy yêu cầu
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="request-contact-received" class="tab-pane fade">
                            <div class="find-user-bottom">
                                <ul class="contactList">
                                    <li class="_contactList" data-uid="user._id">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam.</span>
                                            </div>
                                            <div class="user-acccept-contact-received" data-uid="user._id">
                                                Chấp nhận
                                            </div>
                                            <div class="user-reject-request-contact-received action-danger" data-uid="user._id">
                                                Xóa yêu cầu
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- include('../stream/streamModal'); -->
    <div class="modal fade" id="streamModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Streaming Video & Audio</h4>
                </div>
                <div class="modal-body">
                    <video id="remote-stream" width="500" controls style="margin-left: 20%;"></video>
                    <br><br>
                    <video id="local-stream" width="170" controls style="margin-left: 20%;"></video>
                    <br><br>
                </div>
            </div>
        </div>
    </div>    

    <!-- include('../images/imagesModal'); -->
    <div class="modal fade" id="imagesModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">All Images in this conversation.</h4>
                </div>
                <div class="modal-body">
                    <div class="all-images" style="visibility: hidden;">
                        <img src="images/users/default-avatar-trungquandev-01.jpg">
                        <img src="images/users/default-avatar-trungquandev-02.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- include('../attachs/attachsModal'); -->
    <div class="modal fade" id="attachsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">All Attachs in this conversation.</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-attachs">
                        <li>
                            <a href="fileExample/Tệp văn bản - trungquandev.pdf" 
                            download="${ item.file.fileName }">
                                Tệp văn bản - trungquandev.pdf
                            </a>
                        </li>
                        <li>
                            <a href="fileExample/Tệp văn bản - trungquandev.docx" 
                            download="${ item.file.fileName }">
                                Tệp văn bản - trungquandev.docx
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
    <!-- include('../users/profileModal'); -->
    <div class="modal fade" id="user-profile-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tài khoản cá nhân</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#seting-profile">Cài đặt chung</a></li>
                        <li><a data-toggle="tab" id="link-to-password-profile" href="#password-profile">Quản lý mật khẩu</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="seting-profile" class="tab-pane fade in active">
                            <div class="row">
                                <form class="form-horizontal" method="post" role="form" action="">
                                    <!-- left column -->
                                    <div class="col-md-3">
                                        <div class="text-center" id="div-update-avatar">
                                            <div id="image-edit-profile">
                                                <img src="images/users/default-avatar-trungquandev-01.jpg" class="avatar img-circle" alt="avatar">
                                            </div>
                                            <h6>Tải lên một ảnh mới...</h6>
                                            <input type="file" class="form-control" id="input-change-avatar" name="avatar"><br>
                                            <div id="show-button-update-avatar"></div>
                                        </div>
                                    </div>
                                    <!-- edit form column -->
                                    <div class="col-md-9 personal-info">
                                        <div class="alert alert-danger alert-dismissable">
                                            <a class="panel-close close" data-dismiss="alert">×</a>
                                            Update user error example.<br>
                                            <!-- <script>openProfileModal();</script> -->
                                        </div>
    
                                        <div class="alert alert-success alert-dismissable">
                                            <a class="panel-close close" data-dismiss="alert">×</a>
                                            Update user success example.<br>
                                            <!-- <script>openProfileModal();</script> -->
                                        </div>
    
                                        <h3>Local account.</h3>
                                        <h3>Facebook account.</h3>
                                        <h3>Google account.</h3>
    
                                        <br>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <div class="form-control" disabled>trungquandev@trungquandev.com</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Username:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" name="username" value="Trung Quân">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Giới tính:</label>
                                            <div class="col-lg-8">
                                                <label class="radio-inline col-lg-2">Nam
                                                    <input type="radio" name="gender" value="male" checked required>
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-inline col-lg-2">Nữ
                                                    <input type="radio" name="gender" value="female" required>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Địa chỉ:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" name="address" value="Hà Nội, Việt Nam">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Số điện thoại:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" name="phone" value="0123456789">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="submit" class="btn btn-primary custom-background-btn-primary" name="submit" value="Lưu lại">
                                                <span></span>
                                                <input type="reset" class="btn btn-default custom-background-btn-reset" value="Hủy bỏ">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="password-profile" class="tab-pane fade">
                            <div class="col-md-9 personal-info">
                                <div class="alert alert-danger alert-dismissable">
                                    <a class="panel-close close" data-dismiss="alert">×</a>
                                    Update password error example<br>
                                    <!-- <script>openProfilePasswordModal();</script> -->
                                </div>

                                <div class="alert alert-success alert-dismissable">
                                    <a class="panel-close close" data-dismiss="alert">×</a>
                                    Update password success example<br>
                                    <!-- <script>openProfilePasswordModal();</script> -->
                                </div>

                                <h3>Thay đổi mật khẩu</h3>
                                <br>
                                <form class="form-horizontal" method="post" role="form" action="">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mật khẩu cũ</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="password" name="current_password" placeholder="Enter your curent password...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mật khẩu mới</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="password" name="new_password" placeholder="Enter new password...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nhập lại mật khẩu mới</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="password" name="confirm_new_password" placeholder="Enter confirm new password...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input type="submit" class="btn btn-primary custom-background-btn-primary" value="Lưu lại">
                                            <span></span>
                                            <input type="reset" class="btn btn-default custom-background-btn-reset" value="Hủy bỏ">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- include('../groupChat/groupChatModal'); -->
    <div class="modal fade" id="groupChatModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tạo một nhóm trò chuyện mới.</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-5 col-sm-12 find-user-add-to-group">
                        <div class="row form-search-to-add">
                            <div class="form-group">
                                <input type="text" class="form-control" id="btn-search-friend-to-add-group-chat" placeholder="Nhập E-mail hoặc username của bạn bè..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row result-searched">
                            <ul id="group-chat-friends">
                                <div data-uid="test-uid-01">
                                    <li data-uid="test-uid-01">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/avatar-default.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam</span>
                                            </div>
                                            <div class="add-user" data-uid="test-uid-01">
                                                Thêm vào nhóm
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div data-uid="test-uid-02">
                                    <li data-uid="test-uid-02">
                                        <div class="contactPanel">
                                            <div class="user-avatar">
                                                <img src="images/users/default-avatar-trungquandev-02.jpg" alt="">
                                            </div>
                                            <div class="user-name">
                                                <p>
                                                    Trung Quân
                                                </p>
                                            </div>
                                            <br>
                                            <div class="user-address">
                                                <span>&nbsp Hà Nội, Việt Nam</span>
                                            </div>
                                            <div class="add-user" data-uid="test-uid-02">
                                                Thêm vào nhóm
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 list-user-added">
                        <ul id="friends-added"></ul>
                        <div class="text-center" id="action-create-name-chat">
                            <input type="text" class="form-control" id="name-group-chat" placeholder="Nhập tên nhóm trò chuyện..." />
                            <br>
                            <button type="button" class="btn btn-primary" id="create-group-chat">Tạo</button>
                            <button type="button" class="btn btn-danger" id="cancel-group-chat">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
