<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option value="all-chat">Toàn bộ trò chuyện</option>
                <option value="personal-chat">Trò chuyện cá nhân</option>
                <option value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <ul class="people no-padding-start">
            <a href="#uidcontact._id" class="room-chat">
                <li class="person" data-chat="contact._id">
                    <div class="left-avatar">
                        <div class="dot"></div>
                        <img src="images/users/default-avatar-trungquandev-01.jpg" alt="">
                    </div>
                    <span class="name">
                        Trung Quân
                    </span>
                    <span class="time">Một phút trước</span>
                    <span class="preview">Xin chào</span>
                </li>
            </a>
            <a href="#uidgroupChatItem._id" class="room-chat">
                <li class="person group-chat" data-chat="groupChatItem._id">
                    <div class="left-avatar">
                        <!-- <div class="dot"></div> -->
                        <img src="images/users/group-avatar-trungquandev.png" alt="">
                    </div>
                    <span class="name">
                        <span class="group-chat-name">Group:</span> Group Chat
                    </span>
                    <span class="time">Hai giờ trước</span>
                    <span class="preview">Chào cả nhóm</span>
                </li>
            </a>
            <a href="#" class="room-chat" id="null-contact">
                <li class="person active" data-chat="person-default">
                    <div class="left-avatar">
                        <div class="dot online"></div>
                        <img class="avatar-online" src="images/users/default-avatar-trungquandev-02.jpg" alt="">
                    </div>
                    <span class="name">Trung Quân (admin)</span>
                    <span class="time">Bây giờ</span>
                    <span class="preview">Xin chào <strong>Trung Quân</strong>...</span>
                </li>
            </a>
        </ul>
    </div>
</div>